
.test {
  color: #3cf;
  width: 36px;
  height: 36px;
  animation: spin 2s infinite linear;
  // animation: spin 1s infinite steps(8);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
