<h4>Reactive Form</h4>
<app-reactive-demo></app-reactive-demo>
<hr>
<h4>Template Form</h4>
<app-template-demo></app-template-demo>
<hr>
<h4>Providing Different Default Options</h4>
<p>
  You can provide your own default options for the validity classes and when
  the validty is shown, either on the component or the module level.  This example
  supplies custom classes in place of the default Bootstrap ones, and specifies that
  the validity always be shown.
</p>
<app-options-provider-demo></app-options-provider-demo>
